.top-buffer {
    margin-top: 20px;
}
.top-high {
    margin-top: 60px;
}
.textboxstyle {
    border-radius: 5px;
    color: black;
    width: 200px
        
}

.intro-section {
    text-align: center;
    background: url(../img/scenic2.jpg) no-repeat bottom center scroll; 
    background-color: #000;
}

.result-section {
    text-align: center;
    background-color: #000;
}

.option-text {
    color: aliceblue;
}

.brand-heading {
    font-size: 100px;
    color: #3483c5;
    font-family: 'master_of_break';
    src: url('fonts/master_of_break.otf');
}

.intro-text {
    color: aliceblue;
}